* {
  text-align: center;
  border: none;
}

h2{
  color: rebeccapurple;
}

p{
  text-align: justify;
  padding: 0 8vw 0 8vw;
}

img{
  max-width: 100vw;
  max-height: calc(80vh - 200px);
}

img:hover{
  cursor: pointer;
  max-height: 100%;
}